/* Colors:
	Light Tan: #f3f0dd;
	Dark Tan: #d7d4ae;
	Dark Green/Gray: #716f5a;
	Orange: #f44237;
	Turquoise: #0bad92;
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
	font-family: "Monda", sans-serif;
}

h1, h2, h3 {
	font-family: "Julius Sans One", sans-serif;
}

/* For Sticky Footer */
.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.site-content {
	flex-grow: 1;
}
/* End Sticky Footer */

/* Header */
header {
	background-color: #f3f0dd;
	width: 100%;
}

/* Mobile Header */
.mobile-header {
	display: flex;
}

.mobile-header div {
	flex-basis: 50px;
	flex-grow: 1;
	min-height: 75px;
}

.light-color {
	background-color: #f3f0dd;
}

.medium-color {
	background-color: #d7d4ae;
}

.dark-color {
	background-color: #716f5a;
}

.orange {
	background-color: #f44237;
}

.turquoise {
	background-color: #0bad92;
}
/* End Mobile Header */

/* Navigation */
.desktop-menu {
	display: none;
}

/* Hamburger Menu */
/* Slideout.js Styles */
.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
/* End Slideout.js Styles */

#menu {
	background-color: #f3f0dd;
}

#menu img {
	width: 90%;
	max-width: 150px;
	display: block;
	margin: 0 auto;
}

#menu ul {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#menu ul li {
	flex-grow: 1;
	flex-basis: 120px;
	margin: 5% 0;
	padding: 5%;
}

#menu ul li a:link, #menu ul li a:visited {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
}

#menu ul li.medium-color a:link, #menu ul li.medium-color a:visited {
	color: #f44237;
}

#menu ul li.dark-color a:link, #menu ul li.dark-color a:visited {
	color: #0bad92;
}

#menu ul li.orange a:link, #menu ul li.orange a:visited {
	color: #f3f0dd;
}

#menu ul li.turquoise a:link, #menu ul li.turquoise a:visited {
	color: #d7d4ae;
}
/* End Hamburger Menu */
/* End Navigation */
/* End Header */

/* Primary Content */
#banner-img {
	width: 100%;
	display: block;
}

h1 {
	font-size: 3rem;
	text-align: center;
}

h2 {
	text-align: center;
	font-size: 2rem;
}

main {
	padding: 2% 0;
}

main section {
	width: 80%;
	margin: auto;
}

main section p {
	padding: 1% 0;
}

/* Home Page */
#home {
	color: #f3f0dd;
}

#home section img {
	width: 90%;
	display: block;
	margin: 2% auto;
	max-width: 450px;
}
/* End Home Page */

/* History Page */

/* End History Page */

/* Disciplines Page */

/* End Disciplines Page */

/* Hall of Fame Page*/
#hof {
	color: #36352A;
}

#hof h1 {
	color: #f44237;
}

#hof-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#hof-gallery figure {
	flex-basis: 48%;
	margin: 0.5%;
}

#hof-gallery img {
	width: 100%;
	max-width: 310px;
	display: block;
	margin: auto;
}

.container {
	position: relative;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 100%;
	background-color: #f44237;
	overflow: hidden;
	width: 0;
	height: 20%;
	color: #f3f0dd;
	transition: .5s ease;
	text-align: center;
	white-space: nowrap;
}

.container:hover .overlay {
	width: 75%;
	left: 25%;
}

.modal-content {
	padding: 5%;
	color: #f3f0dd;
}

.modal-content img {
	width: 100%;
	max-width: 600px;
	display: block;
	margin: auto;
	padding: 1% 0;
}

.modal-content p {
	max-width: 850px;
	margin: auto;
	padding: 1% 0;
}

/* End Hall of Fame Page*/
/* End Primary Content */

/* Min-Width 650px Media Query */
@media (min-width: 650px) {
	#home section img {
		width: 45%;
		float: left;
		margin: 2%;
	}

	#hof-gallery figure {
		flex-basis: 30%;
	}
}
/* End Min-Width 650px Media Query */

/* Min-Width 800px Media Query */
@media (min-width: 800px) {
	/* Navigation */
	.mobile-header {
		display: none;
	}

	.toggle-button {
		display: none;
	}

	.desktop-menu {
		display: block;
		height: 100%;
		width: 20%;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 1;
	}

	.desktop-menu img {
		width: 90%;
		max-width: 200px;
		display: block;
		margin: 0 auto;
	}

	.desktop-menu ul {
		display: flex;
		flex-direction: column;
		height: 100vh;
	}

	.desktop-menu ul li {
		flex-grow: 1;
		flex-basis: 120px;
		margin: 5% 0;
		padding-left: 15%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.desktop-menu ul li.logo {
		padding-left: 0;
	}

	.desktop-menu ul li a:link, .desktop-menu ul li a:visited {
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 700;
		width: 100%;
	}

	.desktop-menu ul li.medium-color a:link, .desktop-menu ul li.medium-color a:visited {
		color: #f44237;
	}

	.desktop-menu ul li.dark-color a:link, .desktop-menu ul li.dark-color a:visited {
		color: #0bad92;
	}

	.desktop-menu ul li.orange a:link, .desktop-menu ul li.orange a:visited {
		color: #f3f0dd;
	}

	.desktop-menu ul li.turquoise a:link, .desktop-menu ul li.turquoise a:visited {
		color: #d7d4ae;
	}
	/* End Navigation */

	/* Primary Content */
	.right {
		padding-left: 20%;
	}

	.modal-content {
		padding: 5% 20%;
	}
}
/* End Min Width 800 Media Query */

/* Min Width 1000 Media Query */
@media (min-width: 1000px) {

	#hof-gallery figure {
		flex-basis: 21%
	}

}
/* End Min Width 1000 Media Query */